<div class="main-container">
    <header class="header-6">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            
            <span class="title">Gellar</span>
        </a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" width="300" type="text" placeholder="Search for keywords...">
        </label>
    </form>
</header>
    <nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cloud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tenants</a>
        </li>
    </ul>
</nav>
    <div class="content-container">
        <h1 *ngIf="boards.length >= 1 && boards[selectedBoardIndex].items.length===0">
            This board is empty. Add an item to it.
        </h1>
        <div class="content-area" *ngIf="boards.length >= 1">
            <div class="card-columns" >
            <div *ngFor="let item of boards[selectedBoardIndex].items;let b=index">
                <a href="javascript://" class="card clickable">
        <div class="container-fluid card-block">
            <div class="card-text">
                <div class="row">
                  <div class="col-sm">{{item.body}}</div>
                  <div class="col-sm"><button class="btn btn-link">Add ToDo</button></div>
                  <div (click)="deleteItem(b)" class="col-sm"><button class="btn btn-warning">Delete</button></div>
                </div>
            </div>
            <ng-container *ngIf="item.toDos.length > 0">
            <ul class="list-group" *ngFor="let toDo of item.toDos">
              <li class="list-group-item"></li>
            </ul>
            </ng-container>
        </div>
    </a>
            </div>
</div>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <button class="btn btn-primary" (click)="onAddNewBoard()">New Board</button>
                <div *ngIf="creatingNewBoard">
                    <input type="text" [(ngModel)]="newBoardName" placeholder="Name your new board..."><br>
                    <div class="btn-group" role="group" aria-label="New Board">
                      <button type="button" (click)="cancelBoardCreate()" class="btn btn-secondary">Cancel</button>
                      <button type="button" (click)="confirmBoardCreate()" class="btn btn-primary">Create</button>
                    </div>
                </div>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Boards</label>
                    <ul class="nav-list" *ngFor="let board of boards;let e=index">
                        <li><a (click)="selectedBoardIndex=e" class="nav-link">{{board.title}}</a></li>
                    </ul>
                </section>
                <section class="nav-group" *ngIf="boards.length > 0">
                    <label for="tabexample2">Open Items</label>
                    <button class="btn btn-primary" (click)="onAddNewItem()">New Item</button>
                    <div *ngIf="creatingNewItem">
                    <input type="text" [(ngModel)]="newItemName" placeholder="Name your new category..."><br>
                    <div class="btn-group" role="group" aria-label="New Category">
                      <button type="button" (click)="cancelItemCreate()" class="btn btn-secondary">Cancel</button>
                      <button type="button" (click)="confirmItemCreate()" class="btn btn-primary">Create</button>
                    </div>
                    </div>
                    <ul class="nav-list" *ngFor="let item of boards[selectedBoardIndex].items;let c=index">
                        <li><a class="nav-link">{{item.body}}</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>